:root {
  --main-btn-color: #2196f3;
  --second-btn-color: #ffffff;
  --main-title-color: #ffffff;
  --second-title-color: #2f303a;
  --accent-blu-color: #2196f3;
  --accent-white-color: #ffffff;
}

$font-main: "Roboto", "Open Sans", sans-serif;
